script(src='/lib/jquery/dist/jquery.min.js')
script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
script(src='like-dislike-master/js/like-dislike.min.js')
